body {
     background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
   }
.signup-form {
     font-family: "Roboto", sans-serif;
     width:650px;
     margin:30px auto;
     background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
     border-radius: 10px;
   }
/* Form Header */
/*---------------------------------------*/
.form-header  {
     background-color: #EFF0F1;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
   
.form-header h1 {
     font-size: 30px;
     text-align:center;
     color:#666;
     border-bottom:1px solid #cccccc;
   }

/* Form body */
/*---------------------------------------*/
.title{
     color: darkgreen;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 200;
     padding: 9px;

}
input::placeholder{
     
     font-family: 'Times New Roman', Times, serif;
}
input{
     height: 25px;
     border: none;
     outline: none;
    border-radius: 6px;
   
}
span{
     font-size: 12px;
     color: red;
}

label{
     font-size: 10px;
     
}
input{
     border-radius: 1%;
     color:#666;
     border: 1px solid black;
}
button{
     
     width:140px ;
     border: 0;
     padding: 12px 10px;
     outline: none;
     color: #fff;
     background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
     border-radius: 6px;
     cursor: pointer;
     
}


/* Form Footer */
/*---------------------------------------*/


.signup-form .form-footer  {
     background-color: #EFF0F1;
     padding:10px 40px;
     text-align: right;
     border-top: 1px solid #cccccc;
   
   }
   .form-footer span {
     float:left;
     margin-top: 10px;
     color:#999;  
     font-style: italic;
     font-weight: thin;
   }
   .msg{
        text-align: center;
   }
  

